/src/test/resources/YTfeedback
# Created by https://www.gitignore.io/api/gradle,intellij,java

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

### Intellij ###
.idea/
*.iml


# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar